# Dictionary

- It is a sequence DT,where it is used to store multiple items of different datatypes in the format of "key:value".
- key:value pair we call as "items".
- It is represented by "{ }".
- It is a ordered datatypes.
- It won't support duplicate keys but can have duplicate values.
- It is a MUTABLE DT.
- It is also called "mapping function".

In [19]:
#create a dictionary

d = {"name":"laxmi","age":45,"rollno":101,"course":"python","name1":"laxmi"}
print(d)
print(type(d))

{'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'laxmi'}
<class 'dict'>

In [20]:
#keys()
print(d.keys())

dict_keys(['name', 'age', 'rollno', 'course', 'name1'])

In [21]:
#values()
print(d.values())

dict_values(['laxmi', 45, 101, 'python', 'laxmi'])

In [24]:
#items()
print(d.items())

dict_items([('name', 'laxmi'), ('age', 45), ('rollno', 101), ('course', 'python'), ('name1', 'laxmi')])

In [28]:
#iterate the dictionary

for i,j in d.items():
    print(i,"->",j)

name -> laxmi
age -> 45
rollno -> 101
course -> python
name1 -> laxmi

In [29]:
#Create a new dictionary where it contains all items of given dictionary-

d = {"name":"laxmi","age":45,"rollno":101,"course":"python","address":"delhi"}
print(d)
#empty dictionary
d1 = {}
d1.update(d)
print(d1)

{'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'delhi'}
{'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'delhi'}

# Dictionary Comprehension

In [30]:
a = {"name":"laxmi","age":45,"rollno":101,"course":"python","address":"delhi"}
print(a)

b = {i:j for i,j in a.items()}
print(b)

{'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'delhi'}
{'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'delhi'}

In [31]:
#create a new dictionary where it contains keys as first 5 natural numbers and values as their cubes.

x = {}
for i in range(1,6):
    x[i]=i**3
print(x)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [32]:
#create a new dictionary where it contains keys as first 5 natural numbers 
#and values as their cubes using dictionary comprehension.

x1 = {i:i**3 for i in range(1,6)}
print(x1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [35]:
#zip()

l1 = ["name","age","course","brother"] #list of keys
l = ["laxmi",56,"python","harish"]  #list of values

#convert into dictionary
d = dict(zip(l1,l))
print(d)

{'name': 'laxmi', 'age': 56, 'course': 'python', 'brother': 'harish'}

In [39]:
l1 = ["I","Har"]
l2 = ["am","sha"]
zipped = zip(l1,l2)
for i,j in zipped:
    print(i+j,end=" ")

Iam Harsha

In [40]:
#WAP to convert two tuples into a dictionary-
t1 = ("name","age","salary")
t2 = ("sai",30,45000)

z = dict(zip(t1,t2))
print(z)

{'name': 'sai', 'age': 30, 'salary': 45000}

In [52]:
#WAP to convert two tuples into a dictionary without zip():
t1 = ("name","age","salary")
t2 = ("sai",30,45000)
d = {} #empty dictionary
for i in range(len(t1)):
    d[t1[i]]=t2[i]
print(d)

{'name': 'sai', 'age': 30, 'salary': 45000}

In [54]:
#WAP to convert two tuples into a dictionary using dictionary comprehension-
t1 = ("name","age","salary")
t2 = ("sai",30,45000)

d1 = {t1[i]:t2[i] for i in range(len(t1))} #without zip()
print(d1)

d2 = {i:j for i,j in zip(t1,t2)}  #with zip()
print(d2)

{'name': 'sai', 'age': 30, 'salary': 45000}
{'name': 'sai', 'age': 30, 'salary': 45000}

In [56]:
#WAP to sum all the values from the dictionary
d = {"n1":100,"n2":56,"n3":-90,"n4":78}

s = 0
for i in d.values():
    s = s+i
print("sum of values from dictionary:",s)

#print(sum(d.values()))

sum of values from dictionary: 144
144

In [40]:
#WAP to get the maximum amd minimum values of a dictionary-
d = {"n1":500,"n2":345,"n3":200,"n4":456}
d1 =list(d.values())
print(d1)
min_val = d1[0]  #200
max_val = d1[0]  #500

for i in d1: #i==456
    if min_val>i:#345>456
        min_val = i
    elif max_val<i:#500<456
        max_val = i
print("Minimum value:",min_val)
print("Maximum value:",max_val)

[500, 345, 200, 456]
Minimum value: 200
Maximum value: 500

In [44]:
#sorted()
d = {"n1":500,"n2":345,"n3":200,"n4":456}
d1=d.values()
d2 = sorted(d1)
print("minimum_value:",d2[0])
print("maximum_value:",d2[-1])

minimum_value: 200
maximum_value: 500

In [7]:
#access a particular item from the dictionary-> keys
#v_n["key"]

print(d["course"])
print(d["name1"])

python
laxmi

In [8]:
#reassign -> keys
#v_n["existing_key"] = "new_value"

print("original dictionary:",d)
d["name1"]="kiran"
print("After replacing,the dictionary:",d)

original dictionary: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'laxmi'}
After replacing,the dictionary: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'kiran'}

In [9]:
#add only one item into dictionary
#v_n["new_key"]="new_value"

print("original dictionary:",d)
d["address"]="Bangalore"
print("After adding:",d)

original dictionary: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'kiran'}
After adding: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'kiran', 'address': 'Bangalore'}

In [10]:
#add multiple items at a time into the dictionary
#v_n.update({"key1":"val1","key2":"val2",------})

print("original dictionary:",d)
d.update({"mother":"gouri","father":"koushal","brother":"sai"})
print("After adding multiple items:",d)

original dictionary: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'kiran', 'address': 'Bangalore'}
After adding multiple items: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'kiran', 'address': 'Bangalore', 'mother': 'gouri', 'father': 'koushal', 'brother': 'sai'}

In [11]:
#delete-> pop("key") - used to remove particular value.
print("original dictionary:",d)
print(d.pop("name1"))
print("after removing:",d)

original dictionary: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'name1': 'kiran', 'address': 'Bangalore', 'mother': 'gouri', 'father': 'koushal', 'brother': 'sai'}
kiran
after removing: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'Bangalore', 'mother': 'gouri', 'father': 'koushal', 'brother': 'sai'}

In [12]:
#popitem() -> default ,removes last item

print("original dictionary:",d)
print(d.popitem())
print("after removing:",d)

original dictionary: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'Bangalore', 'mother': 'gouri', 'father': 'koushal', 'brother': 'sai'}
('brother', 'sai')
after removing: {'name': 'laxmi', 'age': 45, 'rollno': 101, 'course': 'python', 'address': 'Bangalore', 'mother': 'gouri', 'father': 'koushal'}

In [13]:
#del v_n["key"] -> particular item

del d["rollno"]
print(d)

{'name': 'laxmi', 'age': 45, 'course': 'python', 'address': 'Bangalore', 'mother': 'gouri', 'father': 'koushal'}

In [16]:
#clear() -> removes all items at a time.
d.clear()
print(d)

{}

In [17]:
#del v_n
del d
print(d)

NameError: name 'd' is not defined

In [15]:
#create a empty dictionary

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

{}
<class 'dict'>
{}
<class 'dict'>